In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('4_parameter_data_vs_mob_rd_rs.xlsx')
df

          Vd     vs   mob   rd    rs   r Pr1.I  i Pr1.I
0       0.00  50000  0.04  1.0  0.02 -0.000366        0
1       0.25  50000  0.04  1.0  0.02  0.021357        0
2       0.50  50000  0.04  1.0  0.02  0.039442        0
3       0.75  50000  0.04  1.0  0.02  0.050758        0
4       1.00  50000  0.04  1.0  0.02  0.055209        0
...      ...    ...   ...  ...   ...       ...      ...
999994  1.00  50000  0.07  7.5  0.07  0.057291        0
999995  1.25  50000  0.07  7.5  0.07  0.059105        0
999996  1.50  50000  0.07  7.5  0.07  0.059642        0
999997  1.75  50000  0.07  7.5  0.07  0.059906        0
999998  2.00  50000  0.07  7.5  0.07  0.060073        0

[999999 rows x 7 columns]

In [5]:
# Import necessary libraries
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Define input features and target variable
X = df[['Vd', 'vs', 'mob', 'rd', 'rs']]
y = df['r Pr1.I']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12)

# Create an XGBoost Regressor object
xgb_reg = XGBRegressor(objective='reg:squarederror', n_estimators=1000, learning_rate=0.01, max_depth=18)

# Fit the model on the training data
xgb_reg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_reg.predict(X_test)

# Calculate Mean Squared Error and R-squared value for the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared Value: {r2}')

Mean Squared Error: 1.7249832515778986e-08
R-squared Value: 0.9999952708349453

In [6]:
# Make predictions on the entire dataset
y_full_pred = xgb_reg.predict(X)

# Calculate error (absolute difference) and add to DataFrame
df['r Pr1.I_predicted'] = y_full_pred  # Add predicted values to DataFrame
df['error'] = df['r Pr1.I_predicted'] - df['r Pr1.I']  # Calculate error

# Calculate the average modulus of error (Mean Absolute Error)
average_modulus_of_error = df['error'].abs().mean()
print(f'Average Modulus of Error: {average_modulus_of_error}')

# Display results
df[['r Pr1.I', 'r Pr1.I_predicted', 'error']]

Average Modulus of Error: 6.742981623043956e-05

         r Pr1.I  r Pr1.I_predicted     error
0      -0.000366          -0.000414 -0.000049
1       0.021357           0.021355 -0.000002
2       0.039442           0.039350 -0.000092
3       0.050758           0.050684 -0.000073
4       0.055209           0.055309  0.000100
...          ...                ...       ...
999994  0.057291           0.057202 -0.000088
999995  0.059105           0.058974 -0.000131
999996  0.059642           0.059699  0.000057
999997  0.059906           0.059937  0.000032
999998  0.060073           0.060157  0.000084

[999999 rows x 3 columns]